.navbar,
.page-footer{
    background-color: #e3f2fd;
}
.navbar a{color: black;}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
.listing{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movies__listing{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.comment-box{
    display: flex;
    flex-direction: column;
}